<div class="flex flex-row">
  <div class="input-container flex flex-row">
    <input type="text" pInputText formControlName="input" />
    <p-button pButton label="Buscar" (onClick)="onSearch()"></p-button>
  </div>
<app-filters-options (filtersSelection)="onFiltersSelection($event)"/>
  <hr>
  <div class="input-container flex flex-row">
    <p-button pButton label="Aceptar" (onClick)="onSearch()"></p-button>
    <p-button pButton label="Cancelar" (onClick)="onCancelButton()"></p-button>
  </div>
</div>